node_modules
dist
dist-ssr
coverage
.vite
.DS_Store
*.log
*.tsbuildinfo
.env
.env.local
.env.*.local
.idea
.vscode/*
!.vscode/extensions.json

# Playwright Testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
